Django
django-debug-toolbar
django-environ
django-cors-headers
djangorestframework
django-rest-framework-client
django-mysql
django-db-connection-pool[mysql,postgres,oracle,jdbc]
django-graphbox
django-filter
django-storages
django-crispy-forms
django-extensions
graphene
graphene-django
graphene-file-upload
strawberry-graphql
psycopg2
mysqlclient
mysql-connector
python-dotenv
python-dateutil
python-multipart
kinesis-python
kvsparser
sample-helper-aws-appconfig
PyJWT
pyfcm
pika
pysftp
pymongo
PyMySQL
redis
redis-py-cluster
PyYAML
pytz
boto3
pandas
openpyxl
uvicorn
gunicorn
requests
DateTime
sqlparse
xlsxwriter
docxtpl
docx2pdf
json-logic
sqlalchemy
reportlab
python-magic
pillow
aiosmtplib
anyio
bcrypt
black
blinker
certifi
cffi
click
colorama
cryptography
dnspython
email-validator
fastapi
fastapi-jwt-auth
fastapi-mail
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
mypy-extensions
orjson
ujson
passlib
pathspec
platformdirs
pycparser
pydantic
rfc3986
six
sniffio
starlette
typing_extensions
watchfiles
websockets
pycryptodome
annotated-types
greenlet
pydantic-core
googlemaps
geopy
drf-yasg
drf-jwt
instamojo_wrapper
paytmchecksum
fuzzywuzzy
python-Levenshtein
tornado
Flask
kafka-python
paho-mqtt
scipy