# Django==3.2.10
Django>=5.0
django-debug-toolbar==3.2.1
django-environ>=0.10.1
django-cors-headers==4.3.1
djangorestframework==3.14.0
django-rest-framework-client==0.10.0
django-mysql==4.12.0
django-db-connection-pool[mysql,postgres,oracle,jdbc]==1.2.4
django-graphbox
django-filter==2.4.0
django-storages==1.11.1
django-crispy-forms==1.12.0
django-extensions==3.2.1
graphene==3.3
graphene-django==3.2.0
graphene-file-upload
strawberry-graphql>=0.216.0
psycopg2==2.9.9
# psycopg2==2.9.1
mysqlclient>=2.2.1
mysql-connector
# python-dotenv==0.19.1
python-dotenv==1.0.1
python-dateutil==2.8.2
python-multipart==0.0.5
kinesis-python==0.2.1
# amazon-kinesis-video-streams-webrtc-sdk-python
kvsparser==0.1.2
sample-helper-aws-appconfig
PyJWT==2.8.0
pyfcm==1.5.4
pika==1.3.2
pysftp==0.2.9
pymongo==4.3.3
PyMySQL
redis
redis-py-cluster
PyYAML==6.0
pytz==2023.3.post1
# boto3>=1.34.14
# boto3==1.34.17
boto3==1.34.25
pandas>=2.2.0
openpyxl>=3.1.2
uvicorn==0.20.0
gunicorn==20.1.0
requests==2.31.0
DateTime==5.4
sqlparse==0.4.4
xlsxwriter==3.1.9
docxtpl
docx2pdf
json-logic==0.6.3
sqlalchemy==2.0.25
reportlab==4.0.9
python-magic==0.4.27
# Pillow>=8.4.0
# Pillow>=9.0
pillow>=10.2.0
aiosmtplib==2.0.0
anyio==3.6.2
bcrypt==4.0.1
black==22.12.0
blinker==1.5
certifi==2022.12.7
cffi==1.15.1
click==8.1.3
colorama==0.4.6
# cryptography==3.4.8
cryptography==41.0.2
dnspython==2.2.1
email-validator==1.3.0
fastapi==0.88.0
fastapi-jwt-auth==0.5.0
fastapi-mail==1.2.4
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mypy-extensions==0.4.3
orjson==3.8.3
ujson==5.6.0
passlib==1.7.4
pathspec==0.10.3
platformdirs==2.6.2
pycparser==2.21
pydantic==1.10.3
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
starlette==0.22.0
typing_extensions==4.8.0
watchfiles==0.18.1
websockets==10.4
pycryptodome==3.19.1
annotated-types==0.6.0
greenlet==3.0.3
pydantic-core==2.14.6
googlemaps==4.10.0
geopy==2.3.0
drf-yasg==1.21.6
drf-jwt==1.19.2
instamojo_wrapper==1.2.0
paytmchecksum==1.7.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.21.1
tornado==6.3.2
Flask
kafka-python
paho-mqtt